
ServeurClash/ClashRoyale/bin/Debug/netcoreapp3.1/Logs/Debug_2022-11-21.txt
ServeurClash/ClashRoyale/bin/Debug/netcoreapp3.1/Logs/Infos_2022-11-21.txt
ServeurClash/ClashRoyale/bin/Debug/netcoreapp3.1/Logs/Warnings_2022-11-21.txt
